{% load static %}

<footer class="page-footer red darken-2">
    <div class="container">
        <div class="row">
            <div class="col l5 s12">
                <h5 class="white-text">Deeper Life Campus Fellowship, FUTA</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help
                    support and continue development on this project and is greatly appreciated.
                    The Dean's Listers, Christ Followers
                </p>
                <div class="row">
                    <div class="col">
                    <h5 class="white-text">Our Fellowship Centers</h5>
                    <ul>
                        <li>Apatapiti Center</li>
                        <li>North Gate Center</li>
                        <li>Footprints Center</li>
                        <li>Ibule Center</li>
                        <li>Ilara Center</li>
                        <li>Alejolowo Center</li>
                    </ul>
                    </div>
                </div>
            </div>
            <div class="col l5 s12">
                <h5 class="white-text">Fellowship with us on</h5>
                <div class="row">
                    <div class="col">
                        <ul>
                            <li>Sunday Worship Service 8am</li>
                            <li>Monday Bible Study 6pm</li>
                            <li>Thursday Revival & Evangelism Training Service 6pm</li>
                        </ul>        
                    </div>
            </div>
            </div>
           
            <div class="col l2 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li>
                        <a class="white-text" href="#!">Facebook</a>
                    </li>
                    <li>
                        <a class="white-text" href="#!">Twitter</a>
                    </li>
                    <li>
                        <a class="white-text" href="#!">Instagram</a>
                    </li>
                    <li>
                        <a class="white-text" href="#!">Linkedin</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by
            <a class="brown-text text-lighten-3" href="{% url 'index' %}">DLCF FUTA DAS UNIT 2018</a>
        </div>
    </div>
</footer>